
agm-map {
  position: relative;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
}




@media only screen and (max-width: 599px) {
  agm-map{
    height: calc(100% - 56px);
  }
}

.icon{
  margin-top: -10px;
  margin-left: -10px;
  font-size: 23px;
  background-color: white;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50px;
}
